@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;1,200&family=Tangerine:wght@400;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border:none;
    outline: 0;
    scroll-behavior: smooth;
}

:root{
    --bg-color:#1f242d;
    --second-color:#323946;
    --text-color:#fff;
    --main-color: #0ef;
    --fonte-titulo:'Raleway', sans-serif;
    --fonte-texto:'Open Sans';
    --fonte-auxiliar:'Tangerine', cursiva;
    --fone-secundary:'Poppins', cursiva;
    --fonte-three: 'Inter', Sans-serif;
}

/************--Seletores--************/
html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: var(--fonte-three);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
/* menu */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navBar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: color .3s;
}

.navBar a:hover {
    color: var(--main-color);
}
/* fim menu */

/* home */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .home-img img{
    width: 35vw;
 }

 .home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
 }

 .home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
 }

 span {
    color: var(--main-color);
 }

 .home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
 }

 .home-content p {
    font-size: 1.6rem;
 }

 .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
 }

 .social-media a:hover {
    background: var(--main-color);
    color: var(--second-color);
    box-shadow: 0 0 1rem var(--main-color);
 }

 .btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
 }

 .btn:hover{
    box-shadow: none;
 }

 #btn-mobile {
  display: none;
 }
 /* fim do home */

 /*about */
 .about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    background: var(--second-color);
  }

  .about-img img {
    width: 25vw;
    border-radius: 50%;
  }  

  .heading {
    text-align: center;
    font-size: 4.5rem;
  }
 
  .about-content h2 {
    text-align: left;
    line-height: 1.2;
  }
 
  .about-content h3 {
    font-size: 2.6rem;
  }
 
  .about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
  }
  /*fim about*/
  /* services */
  
 .services h2 {
  margin-bottom: 5rem;
}

.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  
}

.services-container .service-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 25rem;
  height: 25rem;
  text-align: center;
  border-radius: 2rem;
  background: var(--second-color);
  position: relative;
  overflow: hidden;
}

.services-container i {
  font-size: 6.5rem;
  
}

.services-container h3 {
  font-size: 2.5rem ;
}

.services-container h4 {
  font-family: var(--fonte-titulo);
  font-size: 2.4rem ;
  font-weight: 700;
  margin-bottom: .5rem;
}

.layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#0000001a , var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 1rem;
  transform: translateY(100%);
  transition: .5s ease;
  visibility: hidden;
}

.layer a i {
  font-size: 3rem;
  margin-top: .2rem;
  color: var(--text-color);
}

.layer p {
  font-size: 1.7rem;
  overflow: hidden;
}

.service-box:hover .layer {
  transform: translateY(0);
  visibility: visible;
}
/* fim services */
  /* portifolio */
  .portifolio {
    background: var(--second-color);
  }
 
  .portifolio h2 {
    margin-bottom: 4rem;
  }
 
  .portifolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2.8rem;
  }
 
  .portifolio-box {
    width: 55rem;
    height: 35rem;
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
    /* border: 1px solid; */
  }
 
  .portifolio-box img {
    width: 100%;
    transition: .5s ease;
  }
 
  .portifolio-box:hover img {
    transform: scale(1.1);
  }
 
  .portifolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#0000001a , var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
  }
 
  .portifolio-box:hover .portifolio-layer {
    transform: translateY(0);
  }
 
  .portifolio-layer h4 {
    font-size: 3rem;
  }
 
  .portifolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
  }
 
  .portifolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
  }
 
  .portifolio-layer a i {
    font-size: 2rem;
    color: var(--second-color);
  }/*fim seção portifolio*/

  /* inicio contac */
  .contact h2 {
    margin-bottom: 3rem;
  }
 
  .contact form {
   max-width: 70rem;
   margin: 1rem auto;
   text-align: center;
   margin-bottom: 3rem;
  }
 
  .contact form .input-box {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
  }
 
  .contact form .input-box input,
  .contact form textarea {
   width: 100%;
   padding: 1.5rem;
   font-size: 1.6rem;
   color: var(--text-color);
   background: var(--second-color);
   border-radius: .8rem;
   margin: .7rem 0;
  }
 
  .contact form .input-box input {
   width: 49%;
  }
 
  .contact form textarea {
   resize: none;
  }
 
  .contact form .btn {
   margin-top: 2rem;
   cursor: pointer;
  }
  /*fim contact*/
 /* footer */
  .footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   padding: 2rem 9%;
   background: var(--second-color);
  }
 
  .footer-text p {
   font-size: 1.6rem;
  }
 
  .footer-iconTop a {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   padding: .8rem;
   background: var(--main-color);
   border-radius: .8rem;
   transition: .5s ease;
  }
 
  .footer-iconTop a:hover {
   box-shadow: 0 0 2rem var(--main-color);
  }
 
  .footer-iconTop a i {
   font-size: 3rem;
    color: var(--second-color);
  }
  /*fim footer*/
  /* medias querias */
  @media (max-width:1300px) {
    
  }

  @media (max-width:800px) {

      .navBar {
        visibility: hidden;
      }

     .active .navBar {
      visibility: visible;
      position: absolute;
      height: 15rem;
      top: 6rem;
      right: .1rem;
      padding: 4rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      border: 1px solid;
      transition: .5s ease;
      overflow: hidden;
    }

    .active .navBar a {
      font-size: 2.4rem;
    }

    #btn-mobile {
      position: absolute;
      top: 0;
      right:0;
      margin: 1rem;
      background-color: transparent;
      display: block;  
      border: none;
      padding: .4rem;
      color: var(--text-color);
  }

  #hamburguer {
    display: block;
    border-top: .4rem solid var(--text-color);
    width: 4rem;
    
  }

  #hamburguer::after, #hamburguer::before {
    content:'';
    display: block;
    width: 4rem;
    height: .5rem;
    background-color:var(--text-color);/*Variavel que mudar a cor do elemento apartir do elemento pai*/
    margin-top: .5rem;
    transition: 0.3s;
    position: relative;
  }
  .header.active #hamburguer {
    border-top-color:transparent;
  }
  .header.active #hamburguer::after {
    transform: rotate(135deg);
  }
  .header.active #hamburguer::before {
    transform: rotate(-135deg);
    top:1rem;
  }

  .home {
    display: flex;
    padding: 4rem;
    margin: 0;
    flex-direction: column;
    position: relative;
  }

  .home-content {
    order: 2;
  }

  .home-img img {
    width: 80vw;
    height: 30vh ;
  }

  .home-content p {
    font-size: 2.5rem;
    margin: 5rem 0;
  }

  .social-media {
    position: absolute;

  }

  .social-media a {
    width: 6rem;
    height: 6rem;
    font-size: 3rem;
  }

  .home-content .btn {
    position: absolute;
    right: 0;
    font-size: 2.1rem;
    margin-right: 4rem;
    bottom: 12rem;
  }

  .about {
    position: relative;
    flex-direction: column;
  }

  .about h2 {
    position: absolute;
    top: 15rem;
    left: 37%;
    right: 30%;
  }

  .about h3 {
    position: absolute;
    top: 24rem;
    left: 37%;
    right: 30%;
  }

  .about img {
    width: 50vw;
  }

  .about p {
    font-size: 2rem;
  }

  .service-box {
    width: 13rem;
    height: 13rem;
  }

  .layer {
    padding: 1rem;
  }
  }