@import url('https://fonts.googleapis.com/css2? family= Open+Sans:ital,wght@0,400;0,700;1,400 & family= Raleway:wght@400;700 & family= Tangerina: wght@400;700 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border:none;
    outline: 0;
    scroll-behavior: smooth;
}

:root{
    --bg-color:#1f242d;
    --second-color:#323946;
    --text-color:#fff;
    --main-color: #0ef;
    --titulo-fonte:'Raleway', sans-serif;
    --texto-fonte:'Open Sans', sans-serif;
    --fonte-auxiliar:'Tangerine', cursiva;
}

/************--Seletores--************/
html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
/* menu */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navBar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: color .3s;
}

.navBar a:hover {
    color: var(--main-color);
}
/* fim menu */

/* home */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .home-img img{
    width: 35vw;
 }

 .home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
 }

 .home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
 }

 span {
    color: var(--main-color);
 }

 .home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
 }

 .home-content p {
    font-size: 1.6rem;
 }

 .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
 }

 .social-media a:hover {
    background: var(--main-color);
    color: var(--second-color);
    box-shadow: 0 0 1rem var(--main-color);
 }

 .btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
 }

 .btn:hover{
    box-shadow: none;
 }
 /* fim do home */
p{
    text-align: justify;
    font-family: var(--texto-fonte);
    font-weight: 490;
}

h2{
    font-family: var(--titulo-fonte);
    font-size: 60px;   
}

/************--Classes--************/
.main-bg{
    /* background-image: url(../imagens/dragon-scales.svg); */
    background: linear-gradient(to top, #000000 100%,white);
    /* background-color: var(--white-color);  */
    background-size: contain;
    background-attachment: scroll;
    color: var(--white-color);
}

.secundary-bg{
    background-color: var(--white-color);
    color: var(--color-bg);
}

.main-content{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}
.section{
    min-height: 100vh;
  }

.spacing{
    height: 40px;
  }
.menu{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
}

.menu-content{
    display: flex;
    flex-direction: row;
    justify-content:space-between;  
    align-items: center; 
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.menu-content ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.menu-content ul a{
    display: block;
    padding: 10px;
    font-size: 17px;
    color: var(--prymari-color);
    font-family: var(--titulo-fonte);
    font-weight: 550;
}

.menu-content ul a:hover, .menu_item.selected{
    background:var(--prymari-color);
    color:var(--white-color);
    border-radius: 3px;
    transition: background 1s;
}

.intro-content{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    color: var(--color-bg);
}

.intro-text, .intro-img{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;   
}

.intro-img {
    background-color: var(--color-bg);
    width: 40%;
    height: 80vh;
    border-radius: 50%;
}

.intro-text{
    font-size: 20px;
    font-family: var(--fonte-auxiliar);
}

.intro-btn{
    margin-top: 20px;
    display: inline-block;
}

.btn-githurb {
    width: 50px;
    border-radius: 50%;
    margin: 10px;
}

.btn-linkedin, .btn-githurb {
    display: flex;
    padding: 10px;
    flex-flow: row nowrap;
    gap: 10px;
    justify-content: center;
    align-items: center; 
    border-radius: 20%;
    background-color: black;
    color: var(--white-color);
    border: none;
}

.btn-linkedin svg {
    width: 30%;
}

.btn-githurb img{
    width: 100%;
    color: var(--white-color);
}


.intro-img img{
    max-width: 120%; 
    margin-top: 50px; 
    transition: all 600ms; 
}

.intro-text span{
    font-weight:600; 
    font-size: 50px; 
}

.intro-text span::after {
    content: '|';
    opacity: 0;
    margin-left: 5px;
    display: inline-block;
    animation: blink .7s 13;
  }

  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

.sobre-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

.texto-sobre{
    width: 50%;
    text-align: justify;
    font-family: var(--texto-fonte);
}

.texto-sobre h2{
    font-family: var(--fonte-auxiliar);
    color: var(--prymari-color);
}

.img-sobre img{
    width: 300px;
    border-radius: 50%;
    margin-top: 50px;
}

.projeto-content{
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 30px;
}

.card-conteiner{
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    position: relative;
}

.card-galery{
    max-width: 1200px;
    height: 600px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.card-img{
    width: 300px;
    height: 200px;
    margin: 10px;
    border: 1px solid white;
    padding: 10px;
    text-align: center;
    line-height: 20px;
    position: relative;
}

.card-img img {
    position: absolute;
    width: 298px;
    height: 198px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.card-img p {
    position: absolute;
    top: 20px;
    text-align: center;
    z-index: 1;
    visibility: visible;
}

.trabalhos{
    background-image: linear-gradient(#102044, #2e86eb);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 70px;
    padding: 10px;
}

.formulario{
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 5px;
}

#enviar{
    position: relative;
    width: 80px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid black;
    left: 100%;
}

footer a{
    color: black;
}