@import url('https://fonts.googleapis.com/css2? family= Open+Sans:ital,wght@0,400;0,700;1,400 & family= Raleway:wght@400;700 & family= Tangerina: wght@400;700 & display=swap');
:root{
    --prymari-color:#102044;
    --secundary-color:#2e86eb;
    --white-color: #fff;
    --black-color:#000;
    --titulo-fonte:'Raleway', sans-serif;
    --texto-fonte:'Open Sans', sans-serif;
    --fonte-auxiliar:'Tangerine', cursiva;
}

/************--Seletores--************/
*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

p{
    text-align: justify;
    font-family: var(--texto-fonte);
    font-weight: 490;
}

h2{
    font-family: var(--titulo-fonte);
    font-size: 60px;   
}

/************--Classes--************/
.main-bg{
    background-image: url(../imagens/dragon-scales.svg);
    background-color: var(--secundary-color);
    background-size: contain;
    background-attachment: scroll;
    color: var(--white-color);
}

.secundary-bg{
    background-color: var(--white-color);
    color: var(--black-color);
}

.main-content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}
.section{
    min-height: 100vh;
  }

.spacing{
    height: 40px;
  }
.menu{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
}

.menu-content{
    display: flex;
    flex-direction: row;
    justify-content:space-between;  
    align-items: center; 
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.menu-content ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.menu-content ul a{
    display: block;
    padding: 10px;
    font-size: 17px;
    color: var(--prymari-color);
    font-family: var(--titulo-fonte);
    font-weight: 550;
}

.menu-content ul a:hover, .menu_item.selected{
    background:var(--prymari-color);
    color:var(--white-color);
    border-radius: 3px;
    transition: background 1s;
}

.intro-content{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    color: #060608;
}

.intro-text, .intro-img{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;   
}

.intro-text{
    color: var(--white-color);
    font-size: 20px;
    font-family: var(--fonte-auxiliar);
}

.intro-btn{
    margin-top: 20px;
    display: inline-block;
}

#btn-linkdin, #btn-githurb{
    width: 200px;
    height: 25px;
    background-color:var(--secundary-color);
    border-radius: 5px;
    color: var(--white-color);
    font-weight: bold;
}

.intro-img img{
    max-width: 80%;   
}

.intro-text span{
    font-weight:600; 
    font-size: 50px; 
}

span::after {
    content: '|';
    opacity: 0;
    margin-left: 5px;
    display: inline-block;
    animation: blink .7s 13;
  }

  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

.sobre-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

.texto-sobre{
    width: 50%;
    text-align: justify;
    font-family: var(--texto-fonte);
}

.texto-sobre h2{
    font-family: var(--fonte-auxiliar);
    color: var(--prymari-color);
}

.img-sobre img{
    width: 300px;
    border-radius: 50%;
    margin-top: 50px;
}

.projeto-content{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.texto{
    width: 500px;
    text-align: justify;
}

.trabalhos{
    background-image: linear-gradient(#102044, #2e86eb);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 70px;
    padding: 10px;
}

.cards_trabalhos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;   
}

.cards{
    border: 1px solid white;
    width: 200px;
    height: 300px;
}

.formulario{
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 5px;
}

#enviar{
    position: relative;
    width: 80px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid black;
    left: 100%;
}